// This is a sprite sheet schema file loaded into
// the engine to determine what sprites are available and how to construct
// them from the image.
//
// Data is encoded in Rusty Object Notation (.ron)
//  https://github.com/ron-rs/ron
// Thanks to them for sparing me from json parsing.
SpriteSheet(
    sheet_width: 256,
    tile_width: 32,
    sprites: {
        // Default null tile
        "empty": (
            root: 0,
        ),

        // Basic, non-null tile
        "cobblestone": (
            root: 1
        ),
        
        // Testing variants
        "brick": (
            root: 8,
            variants: 3,
        ),
        
        // Testing multi-tile descriptors
        "beeg-brick": (
            root: 9,
            dimensions: (1, 2),
        ),
        
        // Testing animation
        "anim-brick": (
            root: 8,
            animations: {
                "idle": (
                    root: 8
                ),
                "grow": (
                    root:       8,
                    frames:     3,
                    loops:      true,
                    frame_time: 0.1,
                ),
            }
        ),     

        "man": (
            root: 16,
            animations: {
                "idle": (
                    root: 16,
                ),

                "walk": (
                    root:       16,
                    frames:     8,
                    loops:      true,
                    reverses:   false,
                    frame_time: 0.1,
                )
            }
        ),
    }
)
